* {
    box-sizing: border-box;
}
button {
    border: none;
    background-color: initial;
}
.board {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.btn {
    position: absolute;
}
.btn-sound {
    width: 100px;
    height: 100px;
    fill-opacity: 0.5;
}
#btn-earth {
    left: calc(50% - 50px);
    svg {
        fill: #795548;
    }
}
#btn-fire {
    left: calc(50% + 100px);
    top: 150px;
    svg {
        fill: #F44336;
    }
}
#btn-water {
    left: calc(50% - 200px);
    top: 150px;  
    svg {
        fill: #03A9F4;  
    }
}
#btn-wind {
    left: calc(50% - 50px);
    top: 250px;
    svg{
        fill: #607D8B;
    }
}
#btn-power {
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 9px);
    top: 160px;
    svg.active {
        fill: #4CAF50
    }
}

#btn-strict {
    left: calc(50% + 25px);
    top: 215px;
    font-size: 1.5rem;
}
#score {
    position: absolute;
    left: calc(50% + 2px);
    top: 215px;
    font-size: 1.5rem;
}
