// fonts - download selected letters ! see cssTricks

* {
    box-sizing: border-box;
}
body {
    background-color: #1e1e24;
    background-image: linear-gradient(to bottom right, #79ca42, #484e7b, #440909);
    font-family: 'Open Sans';
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
button {
    font-family: inherit;
    border: none;
    background-color: initial;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
}

.title {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255,255,255,0.5);
}

.board {
    max-width: 500px;
    position: relative;
    margin: auto;
    top: 15vh;
    min-height: 60vh;
}

.btn {
    &:focus {
        outline: none;
    }
    position: absolute;
    &.active svg {
        fill-opacity: 1;
    }
}

.btn-sound {
    width: 100px;
    height: 100px;
    fill-opacity: 0.5;
}

#btn-earth {
    left: calc(50% - 50px);
    svg {
        fill: #795548;
    }
    &.active svg {
        fill-opacity: 1;
    }
}

#btn-fire {
    left: calc(50% + 100px);
    top: 150px;
    svg {
        fill: #F44336;
    }
}

#btn-water {
    left: calc(50% - 200px);
    top: 150px;
    svg {
        fill: #03A9F4;
    }
}

#btn-wind {
    left: calc(50% - 50px);
    top: 250px;
    svg {
        fill: #607D8B;
    }
    &:focus {
        outline: none;
    }
}

#btn-power {
    width: 40px;
    height: 30px;
    position: absolute;
    left: calc(50% - 9px);
    top: 160px;
    outline: none;
    fill: grey;
    &.active svg {
        fill: #34A853;
    }
}

#btn-strict {
    left: calc(50% + 25px);
    top: 215px;
    font-size: 1.5rem;
    color: #34A853; 
    &.active {
        color: #F44336;
    }
}

#score {
    position: absolute;
    left: calc(50% + 2px);
    top: 215px;
    font-size: 1.5rem;
    color: white;
}